<!--  carousel -->
<!-- your-component.component.html -->

<div class="carousel">
    
    <a class="carousel-item" href="#one!">
        <img src="assets/images/movies/salaar.jpg">
        <div class="detail-labels-tag">
            <div class="label">
                <span class="label-value">MPC</span><br>
                <span class="label-title">&#8377;22</span>
            </div>
            <div class="label">
                <span class="label-value">Chart</span><br>
                <span class="label-title">
                    <div class="graph-container">
                        <svg width="80" height="30" viewBox="0 0 100 50">
                            <path d="M10,40 Q50,10 90,10" stroke="#ff6600" stroke-width="2" fill="none"/>
                        </svg>
                    </div>
                </span>
            </div>
            <div class="label">
                <span class="label-value">Change</span><br>
                <span class="label-title">
                    <div class="down-arrow-container">
                        <div class="down-arrow"></div>
                        <span class="percentage-label">22%</span>
                    </div>                
                </span>
            </div>
            <div class="label">
                <span class="label-value">Market Cap</span><br>
                <span class="label-title">&#8377;50M</span>
            </div>
            <div class="label">
                <span class="label-value">Volume</span><br>
                <span class="label-title">&#8377;22M</span>
            </div>
        </div>
    </a>
        
    <a class="carousel-item" href="#two!">
        <img src="assets/images/movies/65.jpg">
        <div class="detail-labels-tag">
            <div class="label">
                <span class="label-value">MPC</span><br>
                <span class="label-title">&#8377;22</span>
            </div>
            <div class="label">
                <span class="label-value">Chart</span><br>
                <span class="label-title">
                    <div class="graph-container">
                        <svg width="80" height="30" viewBox="0 0 100 50">
                            <path d="M10,40 Q50,10 90,10" stroke="#ff6600" stroke-width="2" fill="none"/>
                        </svg>
                    </div>
                </span>
            </div>
            <div class="label">
                <span class="label-value">Change</span><br>
                <span class="label-title">
                    <div class="down-arrow-container">
                        <div class="down-arrow"></div>
                        <span class="percentage-label">22%</span>
                    </div>                
                </span>
            </div>
            <div class="label">
                <span class="label-value">Market Cap</span><br>
                <span class="label-title">&#8377;50M</span>
            </div>
            <div class="label">
                <span class="label-value">Volume</span><br>
                <span class="label-title">&#8377;22M</span>
            </div>
        </div>
    </a>
    <!-- <a class="carousel-item" href="#three!"><img src="assets/images/movies/the-black-demon.jpg3"></a> -->
    <a class="carousel-item" href="#four!">
        <img src="assets/images/movies/the-tank.jpeg">
        <div class="detail-labels-tag">
            <div class="label">
                <span class="label-value">MPC</span><br>
                <span class="label-title">&#8377;22</span>
            </div>
            <div class="label">
                <span class="label-value">Chart</span><br>
                <span class="label-title">
                    <div class="graph-container">
                        <svg width="80" height="30" viewBox="0 0 100 50">
                            <path d="M10,40 Q50,10 90,10" stroke="#ff6600" stroke-width="2" fill="none"/>
                        </svg>
                    </div>
                </span>
            </div>
            <div class="label">
                <span class="label-value">Change</span><br>
                <span class="label-title">
                    <div class="down-arrow-container">
                        <div class="down-arrow"></div>
                        <span class="percentage-label">22%</span>
                    </div>                
                </span>
            </div>
            <div class="label">
                <span class="label-value">Market Cap</span><br>
                <span class="label-title">&#8377;50M</span>
            </div>
            <div class="label">
                <span class="label-value">Volume</span><br>
                <span class="label-title">&#8377;22M</span>
            </div>
        </div>
    </a>
    <a class="carousel-item" href="#four!">
        <img src="assets/images/movies/the-little-mermaid.jpeg">
        <div class="detail-labels-tag">
            <div class="label">
                <span class="label-value">MPC</span><br>
                <span class="label-title">&#8377;22</span>
            </div>
            <div class="label">
                <span class="label-value">Chart</span><br>
                <span class="label-title">
                    <div class="graph-container">
                        <svg width="80" height="30" viewBox="0 0 100 50">
                            <path d="M10,40 Q50,10 90,10" stroke="#ff6600" stroke-width="2" fill="none"/>
                        </svg>
                    </div>
                </span>
            </div>
            <div class="label">
                <span class="label-value">Change</span><br>
                <span class="label-title">
                    <div class="down-arrow-container">
                        <div class="down-arrow"></div>
                        <span class="percentage-label">22%</span>
                    </div>                
                </span>
            </div>
            <div class="label">
                <span class="label-value">Market Cap</span><br>
                <span class="label-title">&#8377;50M</span>
            </div>
            <div class="label">
                <span class="label-value">Volume</span><br>
                <span class="label-title">&#8377;22M</span>
            </div>
        </div>
    </a>
    <a class="carousel-item" href="#four!">
        <img src="assets/images/movies/the-tank.jpeg">
        <div class="detail-labels-tag">
            <div class="label">
                <span class="label-value">MPC</span><br>
                <span class="label-title">&#8377;22</span>
            </div>
            <div class="label">
                <span class="label-value">Chart</span><br>
                <span class="label-title">
                    <div class="graph-container">
                        <svg width="80" height="30" viewBox="0 0 100 50">
                            <path d="M10,40 Q50,10 90,10" stroke="#ff6600" stroke-width="2" fill="none"/>
                        </svg>
                    </div>
                </span>
            </div>
            <div class="label">
                <span class="label-value">Change</span><br>
                <span class="label-title">
                    <div class="down-arrow-container">
                        <div class="down-arrow"></div>
                        <span class="percentage-label">22%</span>
                    </div>                
                </span>
            </div>
            <div class="label">
                <span class="label-value">Market Cap</span><br>
                <span class="label-title">&#8377;50M</span>
            </div>
            <div class="label">
                <span class="label-value">Volume</span><br>
                <span class="label-title">&#8377;22M</span>
            </div>
        </div>
    </a>
    <a class="carousel-item" href="#four!">
        <img src="assets/images/movies/the-covenant.jpg">
        <div class="detail-labels-tag">
            <div class="label">
                <span class="label-value">MPC</span><br>
                <span class="label-title">&#8377;22</span>
            </div>
            <div class="label">
                <span class="label-value">Chart</span><br>
                <span class="label-title">
                    <div class="graph-container">
                        <svg width="80" height="30" viewBox="0 0 100 50">
                            <path d="M10,40 Q50,10 90,10" stroke="#ff6600" stroke-width="2" fill="none"/>
                        </svg>
                    </div>
                </span>
            </div>
            <div class="label">
                <span class="label-value">Change</span><br>
                <span class="label-title">
                    <div class="down-arrow-container">
                        <div class="down-arrow"></div>
                        <span class="percentage-label">22%</span>
                    </div>                
                </span>
            </div>
            <div class="label">
                <span class="label-value">Market Cap</span><br>
                <span class="label-title">&#8377;50M</span>
            </div>
            <div class="label">
                <span class="label-value">Volume</span><br>
                <span class="label-title">&#8377;22M</span>
            </div>
        </div>
    </a>
    <!-- <a class="carousel-item" href="#five!"><img src="assets/images/movies/salaar.jp"></a> -->
  </div>
  

<!-- button area -->
<!-- <div class="button-area">
  <button class="btn waves-effect waves-light" (click)="prev()">
    <i class="material-icons left">chevron_left</i>
    prev
  </button>

  <button class="btn waves-effect waves-light" (click)="next()">
    next
    <i class="material-icons right">chevron_right</i>
  </button>
</div> -->
