<div class="highliters">
    <div class="highlighter">
        <div class="rounded-image">
            <img src="assets/images/motionpic.png" alt="Motion Picture">
        </div>
        <div class="squared-details">
            <a href ="#123" class="decorated-h6">Motion Picture Offering</a>
            <p class="styled-paragraph">Got a project in development? List your 
                project on Feni today for MPO
            </p>
            <!-- <a class="styled-button"> Motion Picture Offering (MPO)</a> -->
        </div>
    </div>
    <div class="highlighter">
        <div class="rounded-image">
            <img src="assets/images/grantHub.png" alt="Grant Hub">
        </div>
        <div class="squared-details">
            <a class="decorated-h6">Grant Hub</a>
            <p class="styled-paragraph">Feni giving grants to Aspiring filmmakers
                to bring their projects live.
            </p>
        </div>
    </div>
    <div class="highlighter">
        <div class="rounded-image">
            <img src="assets/images/mpc.png" alt="Motion Picture">
        </div>
        <div class="squared-details">
            <a class="decorated-h6">Motion Picture Credits (MPC) </a>
            <p class="styled-paragraph">Buy, sell and own the movies you believe
                in.
            </p>
        
        </div>
    </div>
    
</div>


