
<div class="main-container">
<div class="slider-container">
    <div class="moving-slider">
        <div class="movie">
            <img src="assets/images/the-little-mermaid-title.png" alt="movie">
            <p class="moving-p-tag">&#43;%22</p>
        </div>
        <div class="movie">
            <img src="assets/images/the-65-title.png" alt="movie">
            <p class="moving-p-tag">+88%</p>
        </div>
        <div class="movie">
            <img src="assets/images/the-covenant-title.png" alt="movie">
            <p class="moving-p-tag">+32%</p>
        </div>
        <div class="movie">
            <img src="assets/images/the-tank-title.png" alt="movie">
            <p class="moving-p-tag">+18%</p>
        </div>
        <div class="movie">
            <img src="assets/images/the-little-mermaid-title.png" alt="movie">
            <p class="moving-p-tag">&#43;88%</p>
        </div>
        <div class="movie">
            <img src="assets/images/the-tank-title.png" alt="movie">
            <p class="moving-p-tag">+28%</p>
        </div>
        <div class="movie">
            <img src="assets/images/the-covenant-title.png" alt="movie">
            <p class="moving-p-tag">-28%</p>
        </div>
        <div class="movie">
            <img src="assets/images/the-tank-title.png" alt="movie">
            <p class="moving-p-tag">+28%</p>
        </div>
        <div class="movie">
            <img src="assets/images/the-covenant-title.png" alt="movie">
            <p class="moving-p-tag">-28%</p>
        </div>
        <div class="movie">
            <img src="assets/images/the-covenant-title.png" alt="movie">
            <p class="moving-p-tag">-28%</p>
        </div>
        <div class="movie">
            <img src="assets/images/the-tank-title.png" alt="movie">
            <p class="moving-p-tag">+28%</p>
        </div>
        <div class="movie">
            <img src="assets/images/the-covenant-title.png" alt="movie">
            <p class="moving-p-tag">-28%</p>
        </div>
        <!-- <div class="movie">
            <img src="assets/images/the-tank-title.png" alt="movie">
            <p class="moving-p-tag">+16%</p>
        </div> -->
    </div>
</div>
</div>
